
/* FONT FILES */
@font-face {
    font-family: 'assistant';
    src: url('fonts/Assistant/Assistant-VariableFont_wght.ttf') format('truetype');
    src: url('fonts/Assistant/Assistant-VariableFont_wght.woff') format('woff');
    src: url('fonts/Assistant/Assistant-VariableFont_wght.woff2') format('woff2');
  }
@font-face {
    font-family: 'catamaran';
    src: url('fonts/Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
    src: url('fonts/Catamaran/Catamaran-VariableFont_wght.woff') format('woff');
    src: url('fonts/Catamaran/Catamaran-VariableFont_wght.woff2') format('woff2');
  }
@font-face {
    font-family: 'sahitya';
    src: url('fonts/Sahitya/Sahitya-Regular.ttf') format('');
    src: url('fonts/Sahitya/Sahitya-Regular.woff') format('');
    src: url('fonts/Sahitya/Sahitya-Regular.woff2') format('');
    src: url('fonts/Sahitya/Sahitya-Bold.ttf') format('truetype');
    src: url('fonts/Sahitya/Sahitya-Bold.woff') format('woff');
    src: url('fonts/Sahitya/Sahitya-Bold.woff2') format('woff2');
  }
body {
    font-family: 'assistant';
    background-color: #b8b6b4;
}
  h1 {
      text-align: center;
      font-size: 50px;
  }
  h2 {
    text-align: left;
    font-size: 40px;
}
  .fonts, .colours {
    border:solid black 2px;
    margin: 30px 30px;
    padding: 10px;
    overflow: auto;
    border-radius: 30px;
}

  /* FONT SECTION */

  .fonts h4 {
    text-decoration: underline;
}

.assistantfont {
    font-family: 'assistant', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.catamaranfont {
    font-family: 'catamaran', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.sahityafont {
    font-family: 'sahitya', serif;
    font-size: 20px;
    line-height: 20px;
}

.italicfont {
    font-style: italic;
}
.boldfont {
    font-weight: bold;
}

.assistantfont, .catamaranfont, .sahityafont {
    float: left;
    margin-right: 20px;
}

/* COLOUR SECTION */

.colours {
    text-align: center;
}

.cbsunorange, .cbbatblack, .cbstrongteabrown, .cbdeepoceanblue, .cbburntgrey {
    display: inline-block;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: solid 2px #FFFFFF;
    padding: 10px;
    width: 20%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}

.cbsunorange {
    background-color: #F48036;
}

.cbbatblack {
    background-color: #161716;
}
.cbstrongteabrown {
    background-color: #A84D02;
}
.cbdeepoceanblue {
    background-color: #1DA4A8;
}